@use "./reset" as *;
@use "./fonts" as *;
@use "./colors" as *;
@use "./mixins" as *;
@media (min-width: 992px) {
  .site-container {
    height: 100lvh;
    padding: 0.5em 2em 0 2em;
    gap: 0;
    .nav {
      @include flex-between;
      align-items: center;
      width: 100%;
      padding: 1em 0;
      &__hamburger-icon {
        display: none;
      }
      .nav-container {
        @include flex-between;
        padding: 0 3.5em;
        width: 100%;
        height: 5dvh;
        &__close-icon {
          display: none;
        }
        .nav-dropdown {
          display: flex;
          padding: 0 1em;
          gap: 0 2em;
          .dropdown-company-features,
          .dropdown-company-options {
            display: none;
            transition: color 0.3s;
            border: 1px solid $primary-White;
            padding: 0.5em;
            margin: 0.5em 0 0 0;
            border-radius: 0.8em;
            box-shadow: 0 0 0.3em $primary-black;
          }
          .active-dropdown {
            display: block;
          }
          .nav-dropdown-features__ref-link,
          .nav-dropdown-company__ref-link,
          .nav-dropdown-careers__ref-link,
          .nav-dropdown-about__ref-link {
            padding: 0 0.5em;
            transition: color 0.3s, font-weight 0.3s;
          }
          .nav-dropdown-features__ref-link:hover,
          .nav-dropdown-company__ref-link:hover,
          .nav-dropdown-careers__ref-link:hover,
          .nav-dropdown-about__ref-link:hover {
            color: $primary-black;
            font-weight: $bold-weight;
          }
        }
        .nav-cta {
          @include flex-row-center;
          gap: 0 1em;
          &__login,
          &__register {
            width: 100%;
            transition: color 0.3s, font-weight 0.3s, border 0.3s;
          }
          &__login:hover,
          &__register:hover {
            color: $primary-black;
            font-weight: $bold-weight;
          }
          &__register:hover {
            border: 0.125em solid $primary-black;
          }
        }
      }
    }
    .site-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2em 0 0 0;
      gap: 0 4em;
      &__image-desktop {
        grid-column: 2/3;
        grid-row: 0/1;
        height: 90%;
      }
      .description-container {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4em 0;
        padding: 2em 0 0 0;
        .description-container-content {
          align-items: start;
          gap: 2.4em 0;
          &__header {
            font-size: 4.75rem;
            line-height: 105%;
            text-align: left;
          }
          &__description {
            max-width: 45ch;
            padding: 0;
            text-align: left;
          }
          &__button {
            transition: color 0.3s, background-color 0.3s, border 0.3s;
          }
          &__button:hover {
            color: $primary-black;
            background-color: $primary-White;
            border: 0.1em solid $primary-black;
          }
        }
        .logo-container {
          gap: 0 3em;  
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  .site-container {
    .site-body {
      .description-container {
        gap: 2em 0;
        padding: 0em 1em;
        .description-container-content {
          &__header {
            font-size: 5.1rem;
          }
        }
        .logo-container {
          padding-top: 7em;
        }
      }
    }
  }
}
