@use "./reset" as *;
@use "./fonts" as *;
@use "./colors" as *;
@use "./mixins" as *;
@media (min-width: 992px) {
  .site-container {
    height: 100svh;
    padding: 1em 2em 0 2em;
    gap: 0;
    overflow-y: hidden;
    .nav {
      @include flex-between;
      width: 100%;
      padding: 1em 0;
      &__hamburger-icon {
        display: none;
      }
      .nav-container {
        @include flex-between;
        padding: 0 1em;
        width: 100%;
        height: 5svh;
        &__close-icon {
          display: none;
        }
        .nav-dropdown {
          display: flex;
          padding: 0 1em;
          gap: 0 2em;
          .dropdown-company-features,
          .dropdown-company-options {
            display: none;
            padding: 1em 0 0 0;
          }
        }
        .nav-cta {
          @include flex-row-center;
          gap: 0 1em;
          &__login,
          &__register {
            width: 100%;
          }
        }
      }
    }
    .site-body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
 
      align-items: start;
      padding: 2em 0 0 0;
      
      &__image-desktop {
        grid-column: 2/3;
        grid-row: 0/1;
        height: 82.5svh;
        width: 95%;
      }
      .description-container {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-content: end;
        align-items: start;
        text-align: left;
        height: 97%;
        gap: 2.5em 0;
        padding-top: 9.5em;
        &__header {
          font-size: 4.5rem;
          line-height: 100%;
          padding-right: 1.25em;
        }
        &__description{
            width: 45ch;
            padding: 0;
        }
        .logo-container {
            justify-content: start;
            gap: 0 3em;
            padding: 0;
            margin-top: auto;
          }
      }
    }
  }
}
