@use "./reset" as *;
@use "./fonts" as *;
@use "./colors" as *;
@use "./mixins" as *;
@media (min-width: 992px) {
  .site-container {
    height: 100lvh;
    padding: .5em 2em 0 2em;
    gap: 0;
    .nav {
      @include flex-between;
      width: 100%;
      padding: 1em 0;
      &__hamburger-icon {
        display: none;
      }
      .nav-container {
        @include flex-between;
        padding: 0 3.9em;
        width: 100%;
        height: 5dvh;
        &__close-icon {
          display: none;
        }
        .nav-dropdown {
          display: flex;
          padding: 0 1em;
          gap: 0 2em;
          .dropdown-company-features,
          .dropdown-company-options {
            display: none;
            transition: color .3s; 
            padding: 1em 0 0 0;
          } 
          .nav-dropdown-features__ref-link,
          .nav-dropdown-company__ref-link,
          .nav-dropdown-careers__ref-link,
          .nav-dropdown-about__ref-link{
            padding: 0 .5em;
            transition: color .3s, font-weight .3s;
          }
          .nav-dropdown-features__ref-link:hover,
          .nav-dropdown-company__ref-link:hover,
          .nav-dropdown-careers__ref-link:hover,
          .nav-dropdown-about__ref-link:hover{
            color: $primary-black;
            font-weight: $bold-weight;
          }
        }
        .nav-cta {
          @include flex-row-center;
          gap: 0 1em;
          &__login,
          &__register {
            width: 100%;
            transition: color .3s, font-weight .3s, border .3s;
          }
          &__login:hover,
          &__register:hover{
            color: $primary-black;
            font-weight: $bold-weight;
          }
          &__register:hover{
            border: .125em solid $primary-black;
          }
          
        }
      }
    }
    .site-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2em 0 0 0;
     
      &__image-desktop {
        grid-column: 2/3;
        grid-row: 0/1;
        height: 80lvh;
        width: 90%;
      }
      .description-container {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-content: end;
        align-items: start;
        text-align: left;
        min-height: 94%;
        gap: 2em 0;
        padding-top: 5em;
        &__header {
          font-size: 4rem;
          padding-right: 1.25em;
        }
        &__description{
            min-width: 45ch;
            padding: 0;
        }
        &__button{
          transition: color .3s, background-color .3s, border .3s;
        }
        &__button:hover{
          color: $primary-black;
          background-color: $primary-White;
          border: .1em solid $primary-black;
        }
        .logo-container {
            justify-content: start;
            gap: 0 3em;
            padding: 0;
            margin-top: auto;
          }
      }
    }
  }
}
