@use "./reset" as *;
@use "./fonts" as *;
@use "./colors" as *;
@media (max-width: 576px) {
  .site-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 100svh;
    padding: 1.5em 0;
    .nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 1.25em;
      &__hamburger-icon {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      .nav-links {
        display: none;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // right: 0;
        // left: 0;
      }
    }
    &__image{
        display: block;
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }
    .description-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 25%;
        text-align: center;
        padding: 0 1em;
        &__header{
          font-size: 2.5rem;
        }
        &__description{
          padding-bottom: .5em;
        }
        &__button{
            padding: .75em 1.5em;
            border-radius: .9em;
            color: $primary-White;
            background-color: black;
            border: none;
            cursor: pointer;
        }
    }
    .logo-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 1em;
    }
  }
}
