@use "./reset" as *;
@use "./fonts" as *;
@use "./colors" as *;
@use "./mixins" as *;
.site-container {
  @include flex-column;
  min-height: 100svh;
  padding: 1em 0;
  @media (max-width: 992px) {
    .nav {
      position: fixed;
      @include flex-between;
      min-width: 100%;
      padding: 0 1.25em;
      &__hamburger-icon {
        position: relative;
        padding: 1em;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &::before {
          content: url(../img/icon-menu.svg);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .nav-container {
        @include flex-column;
        gap: 1.75em 0;
        position: fixed;
        left: 36%;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $primary-White;
        padding: 1.5em;
        transform: translateX(1500px);
        z-index: 0;
        &__close-icon {
          margin-left: auto;
          position: relative;
          padding: 1em;
          border: none;
          background-color: transparent;
          cursor: pointer;
          &::before {
            content: url(../img/icon-close-menu.svg);
            position: absolute;
            top: 5%;
            right: -2.5%;
          }
        }
      }
      .nav-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: -60%;
        bottom: 0;
        width: 60%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
      }
      .show-slider {
        transform: translateX(0px);
        transition: transform 0.5s ease;
      }
      .hide-slider {
        transform: translateX(1500px);
        transition: transform 0.5s ease;
      }
    }
  }
  .nav-dropdown {
    .nav-dropdown-features,
    .nav-dropdown-company,
    .nav-dropdown-careers,
    .nav-dropdown-about {
      padding: 0.75em 0;
      cursor: pointer;
      &__item {
        padding: 0.75em 0;
      }
      &__ref-link {
        text-decoration: none;
        color: $primary-Gray;
      }
      &--arrow-down {
        padding: 0 0 0.1em 0.5em;
      }
    }
    .dropdown-company-features,
    .dropdown-company-options {
      @include flex-column;
      padding: 1em 0 0 1em;
      color: $primary-Gray;
      gap: 1em 0;
    }
    .dropdown-company-features {
      &--icon {
        padding: 0 1em 0 0;
      }
    }
  }
  .nav-cta {
    @include flex-column;
    gap: 1em 0;
    &__login,
    &__register {
      border: 0.125em solid $primary-Gray;
      border-radius: 0.8em;
      width: 80%;
      padding: 0.75em 1.5em;
      color: $primary-Gray;
      cursor: pointer;
    }
    &__login {
      border: none;
    }
  }
  @media (max-width: 750px) {
    .site-body {
      &__image-mobile {
        @include image-styles;
      }
      &__image-desktop {
        display: none;
      }
    }
  }
  @media (min-width: 750px) {
      .site-body {
      &__image-mobile {
        display: none;
      }
      &__image-desktop {
        @include image-styles;
      }
    }
  }
  .site-body {
    @include flex-column;
    justify-content: center;
    min-height: 100%;
    padding: 5.5em 0 0 0;
    .description-container {
      @include flex-between-center;
      flex-direction: column;
      text-align: center;
      padding: 2em 1em 0 1em;
      &__header {
        font-size: 2.25rem;
      }
      &__description {
        max-width: 65ch;
        font-size: $basic-size;
        padding: 1.5em 0;
      }
      &__button {
        padding: 1em 1.5em;
        border-radius: 0.9em;
        color: $primary-White;
        background-color: black;
        font-size: $basic-size;
        font-weight: $bold-weight;
        border: none;
        cursor: pointer;
      }
      .logo-container {
        @include flex-between-center;
        gap: 0 0.25em;
        padding: 3.5em 0 0 0;
        width: 100%;
        &__logo {
          min-width: 1.25em;
        }
      }
    }
  }
}
