@use './reset' as *;
@use './fonts' as *;
@use './colors' as *;
@use './small-size' as *;
@use './large-devices' as *;

.wrapper, .wrapper-nav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper-nav{
    max-width: 1500px;
  }